<ion-view>
	<ion-content class="body" scroll="false">
		<div class="barQuestion">
			<div class="barAnswer"></div>
			<div class="infoAnswerQuestion">{{$root.answered.acerts}}/6</div>
		</div>
		<div class="cruz">
			<div class="infoCruces">{{$root.user.preguntasAcertadasT}}</div>
		</div>
		<div class="buttons">
			<a class="button button-block button-royal" href="#/questions" data-ng-click="$root.loadNextQuestion()" nav-direction="forward">Continuar</a>
			<a class="button button-block button-royal" href="#/menu">Salir</a>
		</div>
	</ion-content>
</ion-view>
