<ion-view>
   	<ion-content class="body">
   		<div class="score">
   			<div class="numberCruz">
   				<img src="img/smallCruz.png" alt="">
   				<span class="numberQuestionMenu">{{$root.user.preguntasAcertadasT}}</span>
   			</div>
   			<div class="numberLevel">
   				<span class="textLevel">Nivel: </span>
   				<span class="numberLevelMenu">{{$root.user.nivel}}</span>
   			</div>
   		</div>
	  	<div class="image-fight">
	  	  <a class="button button-block button-royal" href="#/questions" data-ng-click="$root.loadNextQuestion()">Jugar</a>
        <a class="button button-block button-royal" href="#/trophies" data-ng-click="$root.reloadTrophies()">Trofeos</a>
        <a class="button button-block button-royal" href="#/ranking">Ranking</a>
        <a class="button button-block button-royal" href="#/menu">Acerca de</a>
	  	</div>
	</ion-content>
</ion-view>
