<ion-view>
	<ion-content class="body {{typeQuestion}} scroll-content ionic-scroll">
		<div class="time">
			<div class="time-in"></div>
			<div id="timer" class="timer fill"></div>
		</div>
		<div class="shield" >
			<img ng-src='img/logos/logo {{data.tipo}}2.png'>
		</div>
		<div class="band"></div>
		<div class="card question">
			<div class="item item-text-wrap ">
				{{data.pregunta}}
			</div>
		</div>
		<div class="container-image" data-ng-if="data.image !== undefined">
			<div class="image" style="background-image: url('img/imagesQuestions/{{data.image}}.jpg');"></div>
		</div>
		
		<div class="card all-options">
			<div class="item item-text-wrap answer" data-ng-click = "validateAnswer(data.opciones.opcion1)">
				{{data.opciones.opcion1}}
			</div>
		</div>
		<div class="card all-options">
			<div class="item item-text-wrap answer" data-ng-click = "validateAnswer(data.opciones.opcion2)">
			{{data.opciones.opcion2}}
			</div>
		</div>
		<div class="card all-options">
			<div class="item item-text-wrap answer" data-ng-click = "validateAnswer(data.opciones.opcion3)">
				{{data.opciones.opcion3}}
			</div>
		</div>
	</ion-content>
</ion-view>
