<ion-view>
	<!-- <ion-header-bar class="bar-royal">
		<h1 class="title">Ranking</h1>
	</ion-header-bar> -->

  	<ion-content class="body body-ranking">
        <div class="score">
            <div class="return-menu"><</div>
            <div class="text-header">
                <p class="title">Ranking</p>
            </div>
        </div>
	    <div ng-repeat="user in usersRanking" class="row item-ranking">
            <div class = "col col-20">
            	<img class="image-avatar" src="{{user.image}}">
            </div>
            <div class = "col col-80">
            	<h4 class = "text-item-ranking">{{user.nombre}}</h4>
            	<h5 class = "text-item-ranking">Acertadas: {{user.preguntasAcertadasT}}</h5>
            	<h5 class = "text-item-ranking">Erroneas: {{user.preguntasErroneas}}</h5>
            </div>
	    </div>
        <div id="user" data-ng-if="currentUser.position > 0" class="row item-ranking item-user-ranking">
        	<div class = "col col-20">
        		<img class="image-avatar" src="{{currentUser.image}}">
            </div>
            <div class = "col col-80">
            	<h4 class = "text-item-ranking">{{currentUser.nombre}}</h4>
            	<h5 class = "text-item-ranking">Acertadas: {{currentUser.preguntasAcertadasT}}</h5>
            	<h5 class = "text-item-ranking">Erroneas: {{currentUser.preguntasErroneas}}</h5>
            </div>
        </div>
  	</ion-content>
</ion-view>
