<ion-view>
	<ion-header-bar class="bar-royal">
		<h1 class="title">Trophies</h1>
	</ion-header-bar>
  	<ion-content>
  		<div ng-if="trophies !== undefined">
  			<ion-item ng-repeat="(key,val) in trophies">
	    		<img src="img/thropies/{{key}}.png" class = "image-trophy trophy-{{val.state}}">
		    	<label>{{key}}</label>
		    	<div>
		    		<label>{{val.description}}</label>
		    	</div>
		    </ion-item>
  		</div>
	    <div ng-if="trophies === undefined">
	    	Cargando
	    </div>
  	</ion-content>
</ion-view>
