<ion-view>
	<ion-content class="body">
		<!-- <div class="barQuestion">
			<div class="barAnswerPass"></div>
			<div class="infoAnswerQuestion">6/6</div>
		</div> -->
		<div class="infoLevel winner-title">
			<h2 class="largeText">FELICITACIONES</h2>
			<h2 class="largeText">GANASTE</h2>
			<!-- <h3 class="smallText">Has pasado al nivel</h3> -->
			<!-- <h2 class="numberLevel">{{$root.user.nivel}}</h2> -->
		</div>
		<div class="character passLevelMargin">
			<img src="img/personaje.png" alt="">
		</div>
		
		<div class="buttons">
			<a class="button button-block button-royal winner-button" data-ng-click="$root.restartUser()" nav-direction="forward">Reiniciar</a>
			<a class="button button-block button-royal winner-button" href="#/menu">Salir</a>
		</div>
	</ion-content>
</ion-view>