 .barQuestion{
  position: relative;
 	height: 19px;
 	width: 80%;
    background: rgba(216, 216, 216, 0.59);
    margin: 28px 10%;
    border-radius: 10px;

    .infoAnswerQuestion{
    	@extend .fontsButton;
      position: absolute;
      top: 0;
      left: 45%;
      color: #194F50;
    }
}   

.barAnswer{
	height: 19px;
  width: 0;
  background: rgb(34, 243, 8);
  border-radius: 10px;
  position: relative;
}
.barAnswerPass{
  height: 19px;
  width: 100%;
  background: rgb(34, 243, 8);
  border-radius: 10px;
  position: relative;
}

.cruz{
	background-image: url("../img/background/cruz.png");
	width: 150px;
    height: 150px;
    margin: 13% 25%;
    background-size: contain;
	
   	.infoCruces{
   		@extend .fontsButton;
   		color: #194F50;
      padding: 67px 52px;
      font-size: 23px;
      text-align: center;
   	}
}
