 .allBarAnswer{
	height: 19px;
	border-radius: 10px;
	position: relative;
}  

 .barQuestion{
 	@extend .allBarAnswer;
 	width: 80%;
    background: rgba(216, 216, 216, 0.59);
    margin: 28px 10%;

    .infoAnswerQuestion{
    	@extend .fontsButton;
      position: absolute;
      top: 0;
      left: 45%;
      color: #194F50;
    }
}   

.barAnswer{
	@extend .allBarAnswer;
	background: $colorBarAnswer;
  	width: 0;
}
.barAnswerPass{
	@extend .allBarAnswer;
	background: $colorBarAnswer;
	width: 100%;
}

.cruz{
	background-image: url("../img/background/cruz.png");
	width: 150px;
  height: 150px;
  background-size: contain;
  margin: 20% auto;
  
   	.infoCruces{
   		@extend .fontsButton;
   		color: #194F50;
      padding: 67px 52px;
      font-size: 23px;
      text-align: center;
   	}
}