.card{
		border-radius:10px;
		
		&.question{
			@include box-shadow(0px 2px 0px 2px #96999D);
			margin-top: 85px;
		}
}
.blockScreen{
    width: 100%;
    position: absolute;
    z-index: 3;
}

.fontsButton{
	font-family: "Roboto-Black";
	font-size: 19px;
	letter-spacing: 1.2px;
}