.card{
		border-radius:10px;
		
		&.question{
			@include box-shadow(0px 2px 0px 2px #96999D);
			margin-top: 85px;
		}
}

.blockScreen{
    width: 100%;
    position: absolute;
    z-index: 3;
}

.fontsButton{
	font-family: "Roboto-Black";
	font-size: 19px;
	letter-spacing: 1.2px;
}

// about styles
.cardAbout{
	width: 90%;
    min-height: 90%;
    margin: 6% auto;
    padding: 20px;
    color: #FFF;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 6px;
   	font-size: 16px
}

.textsAbout{
	text-align: center;
}
.logosAbout{
	width: 100%;
	border-radius: 10px;
}
.contanerIcon{
	margin: 0 auto;
	width: 120px;
}
