.body{
	background-image: url( "../img/background/esteFondo.jpg");
	background-size: cover;
	.character{
		width: 55%;
	    margin: 0 auto;
	    margin-top: 24%;
	    position: relative;
	    top: 15px;
		img{
			width: 100%;
		}
	}
	.button-assertive{
		margin: 0 40px 18px;
		@extend .fontsButton;
	}
	.shields{
		margin: 10px 20%;
		width: 62%;
		img{
			width: 31%;
		}
	}
	
}