.body{
	position: absolute;
	background-image: url( "../img/background/esteFondo.jpg");
	background-size: cover;

	.image-fight{
	  text-align: center;
	  position: relative;
	  padding-top: 36%;
	  font-family: "Roboto-Black";
	}
	.button-royal{
		margin: 18px 40px;
		background-color: $colorButtons;
		font-size: 19px;
		letter-spacing: 1.2px;
		@include box-shadow(-3px 3px 5px 0px rgb(188, 253, 255));
	}
}

.message{
  font-size: 18px;
}
