.body{
	position: absolute;
	background-image: url( "../img/background/esteFondo.jpg");
	background-size: cover;

	.image-fight{
	  text-align: center;
	  position: relative;
	  padding-top: 36%;
	  
	}
	.button-royal{
		margin: 18px 40px;
		background-color: $colorButtons;
		@extend .fontsButton;
		@include box-shadow(-3px 3px 5px 0px rgb(188, 253, 255));
	}
	.button.button-royal.active, .button.button-royal.activated{
		background-color: $colorButtonsActivated;
	}
}

.message{
  font-size: 18px;
}
