.popupTime{
	background: rgba(0, 0, 0, 0.39);
	.popup{
		background: rgba(221, 221, 221, 0)
	}
	.pop-img-time{
		width: 50%;
	}
	
	.pop-text-time{
		font-size: 30px;
		text-align: center;
		font-family: "Roboto-Black";
		letter-spacing: 1.0px;
		color: #FFFFFF;
		text-shadow: 0px 0px 25px #545454, 0px 0px 15px #000000;
	}
	
}
.popup-buttons, .popup-head{
	display: none; 
}