.body{
	font-family: "Roboto regular";

	&.incendios{
		@include background($backgroungIncendios);
	}
	&.evacuacion{
		@include background($backgroungEvacuacion);
	}
	&.primerosAuxilios{
		@include background($backgroungPrimerosAuxilios);
	}

	.time{
		@include circle(60px, 10px, #194077);
		.time-in{
			@include circle(30px, 14px, #FAFAFB);
    		z-index: 5;
		}
	}
	.container-image{
		text-align: center;
		.image{
			width: 150px;
			height: 150px;
			display: inline-block;
		}
	}
	.shield{
		float: right;
		margin: 0px 10px;
	}
	.band{
		background: $band;
	    height: 25px;
	}

	.card{
		
		&.all-options{
			@include box-shadow(0px 4px 0px 0px #96999D);
			margin: 8px 13px;
			.answer{
				background: $answers; 
				padding: 9px 16px;
			}
		}
	}
	
}

