@mixin background($color, $url){
	background: $color;
	background-image: url($url);
	background-size: cover;
}
@mixin box-shadow($info){
	-webkit-box-shadow: $info;
	-moz-box-shadow: $info;
	box-shadow: $info;
}
@mixin circle($size, $margin, $background){
	height: $size;
	width: $size;
	margin: $margin;
	background: $background;
	border-radius: 100px;
	position: absolute;
}

.body{

	&.incendios{
		@include background($backgroungIncendios, "../img/background/textureIncendios.png");
	}
	&.evacuacion{
		@include background($backgroungEvacuacion, "../img/background/evacuacionMejor.png");
	}
	&.primerosAuxilios{
		@include background($backgroungPrimerosAuxilios, "../img/background/texturePrimAuxilios.png");
	}

	.time{
		@include circle(60px, 10px, #194077);
		.time-in{
			@include circle(50px, 5px, #FAFAFB);
		}
	}
	.container-image{
		text-align: center;
		.image{
			width: 150px;
			height: 150px;
			display: inline-block;
		}
	}
	.shield{
		float: right;
		margin: 2px 10px;
	}
	.band{
		background: $band;
	    height: 25px;
	}

	.card{
		border-radius:10px;
		
		&.question{
			@include box-shadow(0px 2px 0px 2px #96999D);
			margin-top: 78px;
		}
		&.all-options{
			@include box-shadow(0px 4px 0px 0px #96999D);
			margin: 8px 13px;
			.answer{
				background: $answers; 
				padding: 9px 16px;
			}
		}
	}
	
}

