// ---------QUESTIONS---------

// Colors background 
$backgroungPrimerosAuxilios : #98CCDA; 
$backgroungIncendios: #DC7485;
$backgroungEvacuacion: #E3AC8E;

// Top bar 
$band: #EDEEF0;

// Backgroung answers
$answers: #EDEEF0;