//---------- FONTS-------------
@font-face {
    font-family: "Roboto-Black"; 
    src: url(../fonts/Roboto-Black.ttf) format("truetype");
}
@font-face {
    font-family: "Roboto regular"; 
    src: url(../fonts/Roboto-Regular.ttf) format("truetype");
}

//----------- METHODS -----------------

@mixin background($color){
	background: $color;
	background-image: url("../img/background/texture.png");
	background-size: cover;
    .timer > #slice > .pie{
        border: 0.1em solid $color;
    }
    .timer.fill > #slice > .pie{
        background: $color;
    }
}
@mixin box-shadow($info){
	-webkit-box-shadow: $info;
	-moz-box-shadow: $info;
	box-shadow: $info;
}
@mixin circle($size, $margin, $background){
	height: $size;
	width: $size;
	margin: $margin;
	background: $background;
	border-radius: 100px;
	position: absolute;
}

//-----------MENU------------

$colorButtons: #194F50;
$colorButtonsActivated: #2F7677;

// ---------QUESTIONS---------

// Colors background 
$backgroungPrimerosAuxilios : #98CCDA; 
$backgroungIncendios: #F97575;
$backgroungEvacuacion: #F9AF88;

// Backgroung answers
$answers: #EDEEF0;

// Top bar 
$band: #EDEEF0;



